form {
    max-height: 100%;
    
    .myInformation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        padding-inline: .625rem;
        width: 95%;
        max-height: 100%;
        
    
        label {
            color: var(--Grey-1);
        }
    
        input {
            width: 96%;
            height: 2.0625rem;
            background-color: var(--Grey-3);
            border: 1px solid var(--Grey-1);
            color: var(--Grey-1);
            border-radius: .25rem;
            padding: 4px;
        }
    
        input::placeholder {
            color: var(--Grey-1);
            font-size: 14px;
            padding: 8px;
        }
    
        #login {
            width: 89%;
            height: 2.5rem;
            border-radius: .25rem;
            border: none;
            color: var(--Grey-0);
            background-color: var(--Color-primary);
            margin: 0 auto;
            
        }
        
        #login:hover {
            background-color: var(--Color-primary-Focus);
            transition: 0.5s;
        }
    }
}

