.title1 {
font-weight: 700;
font-size: 1.1419rem;
line-height: 1.7763rem;
width: 8.75rem;
}

.title2 {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.6494rem;
}

.headline {
    font-weight: 400;
    font-size: .7612rem;
    line-height: 1.3956rem;
}

.headlineBold {
    font-weight: 600;
    font-size: .7612rem;
    line-height: 1.1419rem;
}

.paragraph {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5225rem;
}