footer {
    width: 100%;
    background-color: var(--Grey-4);
    color: var(--Grey-0);
    text-align: center;
}

@media (min-width: 768px) {
    footer {
        text-align: center;
    }
}

@media (min-width: 1024px) {
    footer {
        text-align: center;
    }
}

@media (min-width: 1440px) {
    footer {
        text-align: center;
    }
}